doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="assets/img/favicon.ico")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Awesome Landing Page by Creative Tim
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
    meta(name="viewport", content="width=device-width")
    link(href="assets/css/bootstrap.css", rel="stylesheet")
    link(href="assets/css/landing-page.css", rel="stylesheet")
    // Fonts and icons
    link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300", rel="stylesheet", type="text/css")
    link(href="assets/css/pe-icon-7-stroke.css", rel="stylesheet")
  body.landing-page.landing-page1
    nav.navbar.navbar-transparent.navbar-top(role="navigation")
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button#menu-toggle.navbar-toggle(type="button", data-toggle="collapse", data-target="#example")
            span.sr-only Toggle navigation
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
          a(href="http://www.creative-tim.com")
            .logo-container
              .logo
                img(src="assets/img/new_logo.png", alt="Creative Tim Logo")
              .brand
                | Creative Tim
        // Collect the nav links, forms, and other content for toggling
        #example.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#")
                i.fa.fa-facebook-square
                | Like
            li
              a(href="#")
                i.fa.fa-twitter
                | Tweet
            li
              a(href="#")
                i.fa.fa-pinterest
                | Pin
        // /.navbar-collapse
    .wrapper
      .parallax.filter-gradient.blue(data-color="blue")
        .parallax-background
          img.parallax-background-image(src="assets/img/template/bg3.jpg")
        .container
          .row
            .col-md-5.hidden-xs
              .parallax-image
                img.phone(src="assets/img/template/iphone3.png", style="margin-top: 20px")
            .col-md-6.col-md-offset-1
              .description
                block content
                h2 Awesome landing page.
                br
                h5
                  | Be amazed by the best looking bootstrap landing page on the web! Your new app deserves an amazing page to show all of its features. Clear visual, light colours and beautifully aligned elements - they all try to make the users aware of your great app features!
              .buttons
                button.btn.btn-fill.btn-neutral
                  i.fa.fa-apple
                  | Appstore
                button.btn.btn-simple.btn-neutral
                  i.fa.fa-android
                button.btn.btn-simple.btn-neutral
                  i.fa.fa-windows
      .section.section-gray.section-clients
        .container.text-center
          h4.header-text Friends in high places
          p
            | Build customer confidence by listing your users! Anyone who has used your service and has been pleased with it should have a place here! From Fortune 500 to start-ups, all your app enthusiasts will be glad to be featured in this section. Moreover, users will feel confident seing someone vouching for your product!
            br
          .logos
            ul.list-unstyled
              li
                img(src="assets/img/logos/adobe.png")
              li
                img(src="assets/img/logos/zendesk.png")
              li
                img(src="assets/img/logos/ebay.png")
              li
                img(src="assets/img/logos/evernote.png")
              li
                img(src="assets/img/logos/airbnb.png")
              li
                img(src="assets/img/logos/zappos.png")
      .section.section-presentation
        .container
          .row
            .col-md-6
              .description
                h4.header-text It"s beautiful
                p
                  | And your app is also probably social, awesome, easy-to-use and vital to users. This is the place to enlist all the good things that your app has to share. Focus on the benefits that the uers will receive. Try to combine imaginery with text and show meaningful printscreens from your app, that will make it clear what exactly the basic functions are.
                p
                  | Try to make it very clear for the people browsing the page that this product will enrich their life and will make a nice addition to the homescreen.
                p
            .col-md-5.col-md-offset-1.hidden-xs
              img(src="assets/img/template/mac.png")
      .section.section-demo
        .container
          .row
            .col-md-6
              #description-carousel.carousel.fade(data-ride="carousel")
                .carousel-inner
                  .item
                    img(src="assets/img/template/examples/home_33.jpg", alt="")
                  .item.active
                    img(src="assets/img/template/examples/home_22.jpg", alt="")
                  .item
                    img(src="assets/img/template/examples/home_11.jpg", alt="")
                ol.carousel-indicators.carousel-indicators-blue
                  li(data-target="#description-carousel", data-slide-to="0")
                  li.active(data-target="#description-carousel", data-slide-to="1")
                  li(data-target="#description-carousel", data-slide-to="2")
            .col-md-5.col-md-offset-1
              h4.header-text Easy to integrate
              p
                | With all the apps that users love! Make it easy for users to share, like, post and tweet their favourite things from the app. Be sure to let users know they continue to remain connected while using your app!
              a#Demo3.btn.btn-fill.btn-info(href="http://www.creative-tim.com/product/awesome-landing-page", data-button="info") Get Free Demo
      .section.section-features
        .container
          h4.header-text.text-center Features
          .row
            .col-md-4
              .card.card-blue
                .icon
                  i.pe-7s-note2
                .text
                  h4 Online Customers Management
                  p
                    | All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.
            .col-md-4
              .card.card-blue
                .icon
                  i.pe-7s-bell
                h4 Smart Notifications on hands
                p
                  | Automatic text and email reminders make sure customers always remember their upcoming appointments.
            .col-md-4
              .card.card-blue
                .icon
                  i.pe-7s-graph1
                h4 Know your business better now
                p
                  | Take payments and run your business on the go, in your store and then see how it all adds up with analytics.
      .section.section-testimonial
        .container
          h4.header-text.text-center What people think
          #carousel-example-generic.carousel.fade(data-ride="carousel")
            // Wrapper for slides
            .carousel-inner(role="listbox")
              .item
                .mask
                  img(src="assets/img/faces/face-4.jpg")
                .carousel-testimonial-caption
                  p Jay Z, Producer
                  h3 "I absolutely love your app! It"s truly amazing and looks awesome!"
              .item.active
                .mask
                  img(src="assets/img/faces/face-3.jpg")
                .carousel-testimonial-caption
                  p Drake, Artist
                  h3
                    | "This is one of the most awesome apps I"ve ever seen! Wish you luck Creative Tim!"
              .item
                .mask
                  img(src="assets/img/faces/face-2.jpg")
                .carousel-testimonial-caption
                  p Rick Ross, Musician
                  h3
                    | "Loving this! Just picked it up the other day. Thank you for the work you put into this."
            ol.carousel-indicators.carousel-indicators-blue
              li.active(data-target="#carousel-example-generic", data-slide-to="0")
              li(data-target="#carousel-example-generic", data-slide-to="1")
              li(data-target="#carousel-example-generic", data-slide-to="2")
      .section.section-no-padding
        .parallax.filter-gradient.blue(data-color="blue")
          .parallax-background
            img.parallax-background-image(src="assets/img/template/bg3.jpg")
          .info
            h1 Download this landing page for free!
            p Beautiful multipurpose bootstrap landing page.
            a.btn.btn-neutral.btn-lg.btn-fill(href="http://www.creative-tim.com/product/awesome-landing-page") DOWNLOAD
      footer.footer
        .container
          nav.pull-left
            ul
              li
                a(href="#")
                  | Home
              li
                a(href="#")
                  | Company
              li
                a(href="#")
                  | Portfolio
              li
                a(href="#")
                  | Blog
          .social-area.pull-right
            a.btn.btn-social.btn-facebook.btn-simple
              i.fa.fa-facebook-square
            a.btn.btn-social.btn-twitter.btn-simple
              i.fa.fa-twitter
            a.btn.btn-social.btn-pinterest.btn-simple
              i.fa.fa-pinterest
          .copyright
            | &#169; 2015
            a(href="http://www.creative-tim.com") Creative Tim
            | , made with love
  script(src="assets/js/jquery-1.10.2.js", type="text/javascript")
  script(src="assets/js/jquery-ui-1.10.4.custom.min.js", type="text/javascript")
  script(src="assets/js/bootstrap.js", type="text/javascript")
  script(src="assets/js/awesome-landing-page.js", type="text/javascript")
